[submodule "openadc"]
	path = openadc
	url = git://git.assembla.com/openadc.git
[submodule "hardware/victims/firmware/crypto/secAES-ATmega8515"]
	path = hardware/victims/firmware/crypto/secAES-ATmega8515
	url = https://github.com/jmichelp/secAES-ATmega8515.git
[submodule "chipwhisperer-jupyter"]
	path = jupyter
	url = https://github.com/newaetech/chipwhisperer-jupyter.git
