[submodule "openadc"]
	path = openadc
	url = https://git.assembla.com/openadc.git
[submodule "hardware/victims/firmware/crypto/secAES-ATmega8515"]
	path = hardware/victims/firmware/crypto/secAES-ATmega8515
	url = https://github.com/jmichelp/secAES-ATmega8515.git
[submodule "chipwhisperer-jupyter"]
	path = jupyter
	url = https://github.com/newaetech/chipwhisperer-jupyter.git
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/newaetech/chipwhisperer-tutorials.git
[submodule "hardware/victims/firmware/crypto/SecAESSTM32"]
	path = hardware/victims/firmware/crypto/SecAESSTM32
	url = https://github.com/ANSSI-FR/SecAESSTM32.git
[submodule "hardware/victims/firmware/crypto/masked-bit-sliced-aes-128"]
	path = hardware/victims/firmware/crypto/masked-bit-sliced-aes-128
	url = https://github.com/sebastien-riou/masked-bit-sliced-aes-128
[submodule "hardware/victims/firmware/crypto/Higher-Order-Masked-AES-128"]
	path = hardware/victims/firmware/crypto/Higher-Order-Masked-AES-128
	url = https://github.com/knarfrank/Higher-Order-Masked-AES-128
[submodule "hardware/capture/chipwhisperer-lite/sam3u_fw/SAM3U_VendorExample/src/naeusb"]
	path = hardware/capture/chipwhisperer-lite/sam3u_fw/SAM3U_VendorExample/src/naeusb
	url = https://github.com/newaetech/naeusb.git
