colorama==0.4.6
crc==7.1.0
Cython==3.2.9
donfig==0.8.1.post1
ECPy==1.2.5
google-crc32c==1.8.0
libusb1==3.4.0
llvmlite==0.49.0
numba==0.67.0
numcodecs==0.16.5
numpy==2.5.2
packaging==26.3
pycryptodome==3.23.0
pyserial==3.5
PyYAML==6.0.3
tqdm==4.70.0
typing_extensions==4.16.0
zarr==3.3.0