set_io --warn-no-port led_blue 39
set_io --warn-no-port led_green 40
set_io --warn-no-port led_red 41
set_io --warn-no-port ice_clk 35
set_io --warn-no-port cw_clk 37
set_io --warn-no-port clk_sel 23
set_io --warn-no-port clk_alive_en 25
set_io --warn-no-port IO4 27
set_io --warn-no-port TxD 32
set_io --warn-no-port RxD 31
