backports.functools-lru-cache==1.5
bokeh==1.0.1
configobj==5.0.6
cycler==0.10.0
future==0.16.0
iso8601==0.1.12
jupyter_client>=5.2.4
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.0
matplotlib>=2.1.2
numpy>=1.14.0
pandas==0.23.4
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyusb==1.0.2
PyYAML==3.12
scipy==1.1.0
serial==0.0.38
six==1.11.0
termcolor==1.1.0
tqdm==4.28.1
