# ----------------------------------------------------------------------------
#     _____
#    /     \
#   /____   \____
#  / \===\   \==/
# /___\===\___\/  AVNET Design Resource Center
#      \======/         www.em.avnet.com/s6microboard
#       \====/    
# ----------------------------------------------------------------------------
# 
#  Created With Avnet UCF Generator V0.3.0 
#     Date: Friday, November 12, 2010 
#     Time: 4:11:53 PM 
#
#  Updates
#     4 Jan 2011 -- added DIPs; changed IOSTANDARD for LEDs and LPDDR
#	 11 Jan 2011 -- Changed IOSTANDARD for DIPs to LVCMOS33.
#				    Replaced '#' on the end of net names with '_n'
#    14 Jan 2011 -- Added I2C for CDCE913 clock chip
#                   Added formatting and section breaks
#    27 Jan 2011 -- Updated URL for PMODs
#    04 Aug 2011 -- Renaming USER_RESET_N to USER_RESET since it is not low-enabled;
#                   Added extra comment on Ethernet PHY RXD pull-ups
#                   Removed extraneous quote mark in I2C port syntax
# 
#  This design is the property of Avnet.  Publication of this
#  design is not authorized without written consent from Avnet.
#  
#  Please direct any questions to:
#     Avnet Technical Forums
#     http://community.em.avnet.com/t5/Spartan-6-LX9-MicroBoard/bd-p/Spartan-6LX9MicroBoard
#
#     Avnet Centralized Technical Support
#     Centralized-Support@avnet.com
#     1-800-422-9023
# 
#  Disclaimer:
#     Avnet, Inc. makes no warranty for the use of this code or design.
#     This code is provided  "As Is". Avnet, Inc assumes no responsibility for
#     any errors, which may appear in this code, nor does it make a commitment
#     to update the information contained herein. Avnet, Inc specifically
#     disclaims any implied warranties of fitness for a particular purpose.
#                      Copyright(c) 2011 Avnet, Inc.
#                              All rights reserved.
# 
# ----------------------------------------------------------------------------
############################################################################
# VCC AUX VOLTAGE 
############################################################################
CONFIG VCCAUX=3.3;

############################################################################	
# User Reset Push Button
#   Ignore the timing for this signal
#   Internal pull-down required since external resistor is not populated
############################################################################	
NET reset_i      LOC = V4  |IOSTANDARD = LVCMOS33 |PULLDOWN;    # "USER_RESET"
NET reset_i      TIG;

############################################################################	
# Texas Instruments CDCE913 Triple-Output PLL Clock Chip
#   Y1: 40 MHz, USER_CLOCK can be used as external configuration clock
#   Y2: 66.667 MHz
#   Y3: 100 MHz 
############################################################################	
NET clk_40mhz        LOC = V10 |IOSTANDARD = LVCMOS33;               # "USER_CLOCK"
#NET clk_66mhz          LOC = K15 |IOSTANDARD = LVCMOS33;               # "CLOCK_Y2"
NET clk_100mhz          LOC = C10 |IOSTANDARD = LVCMOS33;               # "CLOCK_Y3"
NET clk_40mhz TNM_NET = clk_40mhz;
TIMESPEC TS_USER_CLOCK = PERIOD clk_40mhz 40000 kHz;
NET clk_100mhz TNM_NET = clk_100mhz;
TIMESPEC TS_clk_100mhz = PERIOD "clk_100mhz" 100000 KHz HIGH 50%;

#NET "oadc/genclocks/clkgenfx_out" TNM_NET = clkgenfx_out;
#TIMESPEC TS_clkgenfx_out = PERIOD "clkgenfx_out" 133000 KHz HIGH 50%;

NET "oadc/genclocks/ADC_clk" TNM_NET = ADCClock;
TIMESPEC TS_ADCClock = PERIOD "ADCClock" 133000 KHz HIGH 50%;

NET "oadc/genclocks/ADC_clk_times4" TNM_NET = ADC_clk_times4;
TIMESPEC TS_ADC_clk_times4 = PERIOD "ADC_clk_times4" 133000 KHz HIGH 50%;

#NET "ADC_Data<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DUT_CLK_i" CLOCK_DEDICATED_ROUTE = FALSE;

#TODO FIX THIS
#PIN "ddr/u_ddr_interface/memc3_infrastructure_inst/U_BUFG_CLK0.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "ADC_clk_sample_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_100mhz" CLOCK_DEDICATED_ROUTE = FALSE;	
NET "clk_40mhz" CLOCK_DEDICATED_ROUTE = FALSE;
	
	
INST "clk_40mhz_IBUFG_BUFG" LOC = BUFGMUX_X2Y1;
	
#PIN "clk_40mhz_IBUFG_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "oadc/genclocks/DCM_extclock_gen.PSCLK" CLOCK_DEDICATED_ROUTE = FALSE;
	
############################################################################	
# User LEDs			
############################################################################	
NET GPIO_LED1         LOC = P4  |IOSTANDARD = LVCMOS18;               # "GPIO_LED1"
NET GPIO_LED2         LOC = L6  |IOSTANDARD = LVCMOS18;               # "GPIO_LED2"
NET GPIO_LED3         LOC = F5  |IOSTANDARD = LVCMOS18;               # "GPIO_LED3"
NET GPIO_LED4         LOC = C2  |IOSTANDARD = LVCMOS18;               # "GPIO_LED4"
############################################################################	
# Silicon Labs CP2102 USB-to-UART Bridge Chip
############################################################################	
NET RXD     LOC = R7  |IOSTANDARD = LVCMOS33;               # "USB_RS232_RXD"
NET TXD     LOC = T7  |IOSTANDARD = LVCMOS33;               # "USB_RS232_TXD"
############################################################################	
# Texas Instruments CDCE913 programming port
#   Internal pull-ups required since external resistors are not populated
############################################################################	
NET SCL               LOC=P12   |IOSTANDARD = LVCMOS33 |PULLUP;    # "SCL"
NET SDA               LOC=U13   |IOSTANDARD = LVCMOS33 |PULLUP;    # "SDA"

NET DUT_CLK_i         LOC=F15   |IOSTANDARD = LVCMOS33;
NET DUT_trigger_i     LOC=F14   |IOSTANDARD = LVCMOS33;
NET ADC_Data[9]       LOC=F16   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[7]       LOC=C17   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[5]       LOC=C18   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_OR            LOC=G14   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[8]       LOC=D17   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[6]       LOC=D18   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;

NET ADC_Data[3]       LOC=H12   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[1]       LOC=G13   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_clk           LOC=E16   |IOSTANDARD = LVCMOS33 | SLEW=FAST | DRIVE=12;
NET amp_gain          LOC=E18   |IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=2;
NET ADC_Data[4]       LOC=K12   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[2]       LOC=K13   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[0]       LOC=F17   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET amp_hilo          LOC=F18   |IOSTANDARD = LVCMOS33;

############################################################################	
# Micron MT46H32M16LFBF-5 LPDDR			
############################################################################	
CONFIG MCB_PERFORMANCE= STANDARD;
# Addresses
NET LPDDR_A[0]          LOC = J7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A0"
NET LPDDR_A[1]          LOC = J6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A1"
NET LPDDR_A[2]          LOC = H5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A2"
NET LPDDR_A[3]          LOC = L7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A3"
NET LPDDR_A[4]          LOC = F3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A4"
NET LPDDR_A[5]          LOC = H4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A5"
NET LPDDR_A[6]          LOC = H3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A6"
NET LPDDR_A[7]          LOC = H6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A7"
NET LPDDR_A[8]          LOC = D2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A8"
NET LPDDR_A[9]          LOC = D1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A9"
NET LPDDR_A[10]         LOC = F4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A10"
NET LPDDR_A[11]         LOC = D3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A11"
NET LPDDR_A[12]         LOC = G6  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_A12"
NET LPDDR_BA[0]         LOC = F2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_BA0"
NET LPDDR_BA[1]         LOC = F1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_BA1"
# Data                                                                  
NET LPDDR_DQ[0]         LOC = L2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ0"
NET LPDDR_DQ[1]         LOC = L1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ1"
NET LPDDR_DQ[2]         LOC = K2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ2"
NET LPDDR_DQ[3]         LOC = K1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ3"
NET LPDDR_DQ[4]         LOC = H2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ4"
NET LPDDR_DQ[5]         LOC = H1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ5"
NET LPDDR_DQ[6]         LOC = J3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ6"
NET LPDDR_DQ[7]         LOC = J1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ7"
NET LPDDR_DQ[8]         LOC = M3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ8"
NET LPDDR_DQ[9]         LOC = M1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ9"
NET LPDDR_DQ[10]        LOC = N2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ10"
NET LPDDR_DQ[11]        LOC = N1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ11"
NET LPDDR_DQ[12]        LOC = T2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ12"
NET LPDDR_DQ[13]        LOC = T1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ13"
NET LPDDR_DQ[14]        LOC = U2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ14"
NET LPDDR_DQ[15]        LOC = U1  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_DQ15"
NET LPDDR_LDM         LOC = K3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_LDM"
NET LPDDR_UDM         LOC = K4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_UDM"
NET LPDDR_LDQS        LOC = L4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_LDQS"
NET LPDDR_UDQS        LOC = P2  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_UDQS"
# Clock
NET LPDDR_CK_N        LOC = G1  | IOSTANDARD = DIFF_MOBILE_DDR;        # "LPDDR_CK_N"
NET LPDDR_CK_P        LOC = G3  | IOSTANDARD = DIFF_MOBILE_DDR;        # "LPDDR_CK_P"
NET LPDDR_CKE         LOC = H7  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_CKE"
# Control
NET LPDDR_CAS_n       LOC = K5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_CAS#"
NET LPDDR_RAS_n       LOC = L5  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_RAS#"
NET LPDDR_WE_n        LOC = E3  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_WE#"
NET LPDDR_RZQ         LOC = N4  | IOSTANDARD = MOBILE_DDR;             # "LPDDR_RZQ"
############################################################################	
# All the IO resources in an IO tile which contains DQSP/UDQSP are used		
# irrespective of a single-ended or differential DQS design. Any signal that	
# is connected to the free pin of the same IO tile in a single-ended design	
# will be unrouted. Hence, the IOB cannot used as general pupose IO.			
############################################################################	
CONFIG PROHIBIT = P1,L3;


############################################################################	
# National Semiconductor DP83848J 10/100 Ethernet PHY			
#   Pull-ups on RXD are necessary to set the PHY AD to 11110b.
#   Must keep the PHY from defaulting to PHY AD = 00000b      
#   because this is Isolate Mode                              
############################################################################	
NET ETH_COL           LOC = M18 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_COL"
NET ETH_CRS           LOC = N17 | IOSTANDARD = LVCMOS33 | PULLDOWN;    # "ETH_CRS"
NET ETH_MDC           LOC = M16 | IOSTANDARD = LVCMOS33;               # "ETH_MDC"
NET ETH_MDIO          LOC = L18 | IOSTANDARD = LVCMOS33;               # "ETH_MDIO"
NET ETH_RESET_n       LOC = T18 | IOSTANDARD = LVCMOS33 | TIG;         # "ETH_RESET#"
NET ETH_RX_CLK        LOC = L15 | IOSTANDARD = LVCMOS33;               # "ETH_RX_CLK"
NET ETH_RX_DATA[0]    LOC = T17 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D0"
NET ETH_RX_DATA[1]    LOC = N16 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D1"
NET ETH_RX_DATA[2]    LOC = N15 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D2"
NET ETH_RX_DATA[3]    LOC = P18 | IOSTANDARD = LVCMOS33 | PULLUP;      # "ETH_RX_D3"
NET ETH_RX_DV         LOC = P17 | IOSTANDARD = LVCMOS33;               # "ETH_RX_DV"
NET ETH_RX_ER         LOC = N18 | IOSTANDARD = LVCMOS33;               # "ETH_RX_ER"
NET ETH_TX_CLK        LOC = H17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_CLK"
NET ETH_TX_DATA[0]    LOC = K18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D0"
NET ETH_TX_DATA[1]    LOC = K17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D1"
NET ETH_TX_DATA[2]    LOC = J18 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D2"
NET ETH_TX_DATA[3]    LOC = J16 | IOSTANDARD = LVCMOS33;               # "ETH_TX_D3"
NET ETH_TX_EN         LOC = L17 | IOSTANDARD = LVCMOS33;               # "ETH_TX_EN"

NET "eth_tx_clk" CLOCK_DEDICATED_ROUTE = FALSE;