# This file is a general .ucf for Nexys2 rev A board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project

# Signals Led<7>…Led<4> are assigned to pins which change type from s3e500 to other dies using the same package
# Both versions are provided in this file.
# Keep only the appropriate one, and remove or comment the other one.


# clock pin for Nexys 2 Board
#NET "clk_50mhz"   LOC = "B8"; # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK, Sch name = GCLK0
#NET "clk1" LOC = "U9"; # Bank = 2, Pin name = IO_L13P_2/D4/GCLK14, Type = DUAL/GCLK, Sch name = GCLK1
# Leds
NET "GPIO_LED1"  LOC = "J14"  |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL, Sch name = JD10/LD0
NET "GPIO_LED2"  LOC = "J15"  |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L14P_1/A4/RHCLK6, Type = RHCLK/DUAL, Sch name = JD9/LD1
NET "GPIO_LED3"  LOC = "K15"  |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L12P_1/A8/RHCLK2, Type = RHCLK/DUAL, Sch name = JD8/LD2
NET "GPIO_LED4"  LOC = "K14"  |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L12N_1/A7/RHCLK3/TRDY1, Type = RHCLK/DUAL, Sch name = JD7/LD3

# Buttons
NET "reset_i" LOC = "B18"; # Bank = 1, Pin name = IP, Type = INPUT, Sch name = BTN0

# 12 pin connectors
NET "DUT_CLK_i" LOC = "L15"   |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L09N_1/A11, Type = DUAL, Sch name = JA1
NET "ADC_Data<9>" LOC = "K12" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L11N_1/A9/RHCLK1, Type = RHCLK/DUAL, Sch name = JA2
NET "ADC_Data<7>" LOC = "L17" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L10N_1/VREF_1, Type = VREF, Sch name = JA3
NET "ADC_Data<5>" LOC = "M15" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L07P_1, Type = I/O, Sch name = JA4
NET "DUT_trigger_i" LOC = "K13" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L11P_1/A10/RHCLK0, Type = RHCLK/DUAL, Sch name = JA7
NET "ADC_OR" LOC = "L16"      |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L09P_1/A12, Type = DUAL, Sch name = JA8
NET "ADC_Data<8>" LOC = "M14" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L05P_1, Type = I/O, Sch name = JA9
NET "ADC_Data<6>" LOC = "M16" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L07N_1, Type = I/O, Sch name = JA10
NET "ADC_Data<3>" LOC = "M13" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L05N_1/VREF_1, Type = VREF, Sch name = JB1
NET "ADC_Data<1>" LOC = "R18" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L02P_1/A14, Type = DUAL, Sch name = JB2
NET "ADC_clk" LOC = "R15"     |IOSTANDARD = LVCMOS33 | SLEW=FAST | DRIVE=12; # Bank = 1, Pin name = IO_L03P_1, Type = I/O, Sch name = JB3
NET "amp_gain" LOC = "T17"    |IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=2; # Bank = 1, Pin name = IO_L01N_1/A15, Type = DUAL, Sch name = JB4
NET "ADC_Data<4>" LOC = "P17" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L06P_1, Type = I/O, Sch name = JB7
NET "ADC_Data<2>" LOC = "R16" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L03N_1/VREF_1, Type = VREF, Sch name = JB8
NET "ADC_Data<0>" LOC = "T18" |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L02N_1/A13, Type = DUAL, Sch name = JB9
NET "amp_hilo" LOC = "U18"    |IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L01P_1/A16, Type = DUAL, Sch name = JB10

# RS232 connector
#NET "rxd" LOC = "U6"; # Bank = 2, Pin name = IP, Type = INPUT, Sch name = RS-RX
#NET "txd" LOC = "P9"; # Bank = 2, Pin name = IO, Type = I/O, Sch name = RS-TX

# USB Data Bus
#Was DB<x>
NET "FD<0>"       LOC = "R14";   # Bank = 2, Pin name = IO_L24N_2/A20, Type = DUAL,                   Sch name = U-FD0
NET "FD<1>"       LOC = "R13";   # Bank = 2, Pin name = IO_L22N_2/A22, Type = DUAL,                   Sch name = U-FD1
NET "FD<2>"       LOC = "P13";   # Bank = 2, Pin name = IO_L22P_2/A23, Type = DUAL,                   Sch name = U-FD2
NET "FD<3>"       LOC = "T12";   # Bank = 2, Pin name = IO_L20P_2, Type = I/O,                        Sch name = U-FD3
NET "FD<4>"       LOC = "N11";   # Bank = 2, Pin name = IO_L18N_2, Type = I/O,                        Sch name = U-FD4
NET "FD<5>"       LOC = "R11";   # Bank = 2, Pin name = IO, Type = I/O,                               Sch name = U-FD5
NET "FD<6>"       LOC = "P10";   # Bank = 2, Pin name = IO_L15N_2/D1/GCLK3, Type = DUAL/GCLK,         Sch name = U-FD6
NET "FD<7>"       LOC = "R10";   # Bank = 2, Pin name = IO_L15P_2/D2/GCLK2, Type = DUAL/GCLK,         Sch name = U-FD7


# USB Control Signals
NET "ifclk"   LOC = "T15";   # Bank = 2, Pin name = IO/VREF_2, Type = VREF,                       Sch name = U-IFCLK
#NET "DstmSLCS"    LOC = "T16";   # Bank = 2, Pin name = IO_L26P_2/VS0/A17, Type = DUAL,               Sch name = U-SLCS
NET "flaga"   LOC = "V14";   # Bank = 2, Pin name = IP_L23P_2, Type = INPUT,                      Sch name = U-FLAGA
NET "flagb"   LOC = "U14";   # Bank = 2, Pin name = IP_L23N_2, Type = INPUT,                      Sch name = U-FLAGB
NET "fifoadr0"  LOC = "T14";   # Bank = 2, Pin name = IO_L24P_2/A21, Type = DUAL,                   Sch name = U-FIFOAD0
NET "fifoadr1"  LOC = "V13";   # Bank = 2, Pin name = IO_L19N_2/VREF_2, Type = VREF,                Sch name = U-FIFOAD1
NET "slrd"    LOC = "N9";    # Bank = 2, Pin name = IO_L12P_2/D7/GCLK12, Type = DUAL/GCLK,        Sch name = U-SLRD
NET "slwr"    LOC = "V9";    # Bank = 2, Pin name = IO_L13N_2/D3/GCLK15, Type = DUAL/GCLK,        Sch name = U-SLWR
NET "sloe"    LOC = "V15";   # Bank = 2, Pin name = IO_L25P_2/VS2/A19, Type = DUAL,               Sch name = U-SLOE
NET "pktend"  LOC = "V12";   # Bank = 2, Pin name = IO_L19P_2, Type = I/O,                        Sch name = U-PKTEND

#NET "UsbMode"     LOC = "U15";   # Bank = 2, Pin name = IO_L25N_2/VS1/A18, Type = DUAL,               Sch name = U-INT0#
#NET "UsbRdy"      LOC = "U13";   # Bank = 2, Pin name = IP, Type = INPUT,   

NET "DUT_CLK_i" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "ifclk" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "genclocks/DCM_extclock_gen.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "clk_50mhz" CLOCK_DEDICATED_ROUTE = FALSE;

#NET clk_50mhz TNM_NET = clk_50mhz;
#TIMESPEC TS_clk_50mhz = PERIOD "clk_50mhz" 50000 KHz HIGH 50%;

NET ifclk TNM_NET = ifclk;
TIMESPEC TS_ifclk = PERIOD "ifclk" 50000 KHz HIGH 50%;
