# ------------------------------------------------------------------------
# User Constraint File (.ucf) of Controller FPGA on SAKURA-G (SAKURA-G-R1)
#
# Copyright (C) 2012,2013 Morita-tech co.,ltd.
#
# File name      : sakura_g_ctrl_r1.ucf
# Version        : 1.0
# Date           : Jun/15/2013
# Board Revision : SAKURA-G-R1
# ------------------------------------------------------------------------

# Timing -----------------------------------------------------------------
NET "clkin" TNM_NET = "clkin_GRP" ;
TIMESPEC "TS_clkin" = PERIOD : "clkin_GRP" : 48 MHz HIGH 50.0% ;

NET "usb_clk" TNM_NET = "usb_clk_GRP" ;
TIMESPEC "TS_usb_clk" = PERIOD : "usb_clk_GRP" : 60 MHz HIGH 50.0% ;

# Pin --------------------------------------------------------------------
# ------------
# Clock, Reset
# ------------
NET "clkin"                LOC="J3"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43N_GCLK22_IRDY2_M3CASN_3
NET "rstnin"               LOC="P2"   | IOSTANDARD="LVCMOS25" | TIG ;                  # IO_L2P_3

#NET "C_CLK_OSC"            LOC="J3"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43N_GCLK22_IRDY2_M3CASN_3
#NET "C_CLK_INH_B"          LOC="H1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | TIG ; # IO_L42N_GCLK24_M3LDM_3
#NET "C_CLK_EXT0_N"         LOC="J1"   | IOSTANDARD="LVCMOS25" ;                        # IO_L41N_GCLK26_M3DQ5_3
#NET "C_CLK_EXT0_P"         LOC="J2"   | IOSTANDARD="LVCMOS25" ;                        # IO_L41P_GCLK27_M3DQ4_3
#NET "C_RESET_B"            LOC="P2"   | IOSTANDARD="LVCMOS25" | TIG ;                  # IO_L2P_3

# --------
# User LED
# --------
NET "led<0>"               LOC="F1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L46N_M3CLKN_3
NET "led<1>"               LOC="G2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L44P_GCLK21_M3A5_3
NET "led<2>"               LOC="G1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L44N_GCLK20_M3A6_3
NET "led<3>"               LOC="H3"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L42P_GCLK25_TRDY2_M3UDM_3
NET "led<4>"               LOC="H4"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L47N_M3A1_3
NET "led<5>"               LOC="H5"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L49N_M3A2_3
NET "led<6>"               LOC="J5"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L47P_M3A0_3
NET "led<7>"               LOC="J4"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L45N_M3ODT_3
#NET "led<8>"               LOC="K5"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L45P_M3A3_3
#NET "led<9>"               LOC="K4"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L43P_GCLK23_M3RASN_3

# ----------------
# User Push Switch
# ----------------
#NET "C_PUSHSW<0>"          LOC="L3"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L1N_VREF_3
#NET "C_PUSHSW<1>"          LOC="M4"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L1P_3

# ---------------
# User DIP Switch
# ---------------
#NET "C_DIPSW<0>"           LOC="K1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L40N_M3DQ7_3
#NET "C_DIPSW<1>"           LOC="L1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L39N_M3LDQSN_3
#NET "C_DIPSW<2>"           LOC="L2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L39P_M3LDQS_3
#NET "C_DIPSW<3>"           LOC="M1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L38N_M3DQ3_3
#NET "C_DIPSW<4>"           LOC="N1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L37N_M3DQ1_3
#NET "C_DIPSW<5>"           LOC="N2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L37P_M3DQ0_3
#NET "C_DIPSW<6>"           LOC="P1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L2N_3
#NET "C_DIPSW<7>"           LOC="M3"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L38P_M3DQ2_3

# -----------------
# OpenADC Connection
# -----------------

NET "ADC_Data<0>"				LOC="R7" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<1>"				LOC="R9" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<2>"				LOC="N8" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<3>"				LOC="R10" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<4>"				LOC="P9" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<5>"				LOC="M9" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<6>"				LOC="L8" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<7>"				LOC="M10" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<8>"				LOC="N9" | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data<9>"				LOC="M11" | IOSTANDARD="LVCMOS25" ;
NET "ADC_OR"					LOC="N11" | IOSTANDARD="LVCMOS25" ;
NET "ADC_clk"					LOC="R8" | IOSTANDARD="LVCMOS25" ;
NET "DUT_CLK_i"				LOC="N7" | IOSTANDARD="LVCMOS25" ;
NET "DUT_trigger_i"			LOC="M8" | IOSTANDARD="LVCMOS25" ;
NET "amp_gain"					LOC="P7" | IOSTANDARD="LVCMOS25" ;
NET "amp_hilo"					LOC="R6" | IOSTANDARD="LVCMOS25" ;

NET "DUT_CLK_i" CLOCK_DEDICATED_ROUTE = FALSE; 
PIN "registers_sakura_lbus/mk_clkrst/u13.O" CLOCK_DEDICATED_ROUTE = FALSE;

# ---------------
# User Header Pin
# ---------------
#NET "C_HEADER<0>"          LOC="N4"   | IOSTANDARD="LVCMOS25" ; # IO_L63P_2
#NET "C_HEADER<1>"          LOC="M5"   | IOSTANDARD="LVCMOS25" ; # IO_L64P_D8_2
#NET "C_HEADER<2>"          LOC="N5"   | IOSTANDARD="LVCMOS25" ; # IO_L64N_D9_2
#NET "C_HEADER<3>"          LOC="M6"   | IOSTANDARD="LVCMOS25" ; # IO_L47N_2
#NET "C_HEADER<4>"          LOC="N6"   | IOSTANDARD="LVCMOS25" ; # IO_L48P_D7_2
#NET "C_HEADER<5>"          LOC="R4"   | IOSTANDARD="LVCMOS25" ; # IO_L63N_2
#NET "C_HEADER<6>"          LOC="P5"   | IOSTANDARD="LVCMOS25" ; # IO_L49P_D3_2
#NET "C_HEADER<7>"          LOC="R5"   | IOSTANDARD="LVCMOS25" ; # IO_L49N_D4_2
#NET "C_HEADER<8>"          LOC="R6"   | IOSTANDARD="LVCMOS25" ; # IO_L48N_RDWR_B_VREF_2
#NET "C_HEADER<9>"          LOC="P7"   | IOSTANDARD="LVCMOS25" ; # IO_L32P_GCLK29_2
#NET "C_HEADER<10>"         LOC="R7"   | IOSTANDARD="LVCMOS25" ; # IO_L32N_GCLK28_2
#NET "C_HEADER<11>"         LOC="R8"   | IOSTANDARD="LVCMOS25" ; # IO_L29N_GCLK2_2
#NET "C_HEADER<12>"         LOC="N8"   | IOSTANDARD="LVCMOS25" ; # IO_L29P_GCLK3_2
#NET "C_HEADER<13>"         LOC="R9"   | IOSTANDARD="LVCMOS25" ; # IO_L16N_VREF_2
#NET "C_HEADER<14>"         LOC="P9"   | IOSTANDARD="LVCMOS25" ; # IO_L16P_2
#NET "C_HEADER<15>"         LOC="R10"  | IOSTANDARD="LVCMOS25" ; # IO_L13N_D10_2
#NET "C_HEADER<16>"         LOC="L5"   | IOSTANDARD="LVCMOS25" ; # IO_L62N_D6_2
#NET "C_HEADER<17>"         LOC="L6"   | IOSTANDARD="LVCMOS25" ; # IO_L62P_D5_2
#NET "C_HEADER<18>"         LOC="L8"   | IOSTANDARD="LVCMOS25" ; # IO_L31N_GCLK30_D15_2
#NET "C_HEADER<19>"         LOC="M9"   | IOSTANDARD="LVCMOS25" ; # IO_L15P_2
#NET "C_HEADER<20>"         LOC="N9"   | IOSTANDARD="LVCMOS25" ; # IO_L15N_2
#NET "C_HEADER<21>"         LOC="M10"  | IOSTANDARD="LVCMOS25" ; # IO_L14N_D12_2
#NET "C_HEADER<22>"         LOC="N11"  | IOSTANDARD="LVCMOS25" ; # IO_L12N_D2_MISO3_2
#NET "C_HEADER<23>"         LOC="M11"  | IOSTANDARD="LVCMOS25" ; # IO_L12P_D1_MISO2_2
#NET "C_HEADER_CLK_N"       LOC="N7"   | IOSTANDARD="LVCMOS25" ; # IO_L30N_GCLK0_USERCCLK_2
#NET "C_HEADER_CLK_P"       LOC="M8"   | IOSTANDARD="LVCMOS25" ; # IO_L30P_GCLK1_D13_2

# -----------------
# USB I/F (FT2232H)
# -----------------
NET "usb_rxfn"        LOC="N15"  | IOSTANDARD="LVCMOS25" ; # IO_L47N_LDC_M1DQ1_1
NET "usb_txen"        LOC="M15"  | IOSTANDARD="LVCMOS25" ; # IO_L46N_FOE_B_M1DQ3_1
NET "usb_rdn"         LOC="L14"  | IOSTANDARD="LVCMOS25" ; # IO_L45P_A1_M1LDQS_1
NET "usb_wrn"         LOC="L15"  | IOSTANDARD="LVCMOS25" ; # IO_L45N_A0_M1LDQSN_1
NET "usb_d<0>"        LOC="M13"  | IOSTANDARD="LVCMOS25" ; # IO_L46P_FCS_B_M1DQ2_1
NET "usb_d<1>"        LOC="L12"  | IOSTANDARD="LVCMOS25" ; # IO_L40N_GCLK10_M1A6_1
NET "usb_d<2>"        LOC="K12"  | IOSTANDARD="LVCMOS25" ; # IO_L40P_GCLK11_M1A5_1
NET "usb_d<3>"        LOC="K13"  | IOSTANDARD="LVCMOS25" ; # IO_L44P_A3_M1DQ6_1
NET "usb_d<4>"        LOC="K11"  | IOSTANDARD="LVCMOS25" ; # IO_L38N_A4_M1CLKN_1
NET "usb_d<5>"        LOC="J11"  | IOSTANDARD="LVCMOS25" ; # IO_L36P_A9_M1BA0_1
NET "usb_d<6>"        LOC="H11"  | IOSTANDARD="LVCMOS25" ; # IO_L32N_A16_M1A9_1
NET "usb_d<7>"        LOC="H12"  | IOSTANDARD="LVCMOS25" ; # IO_L34P_A13_M1WE_1
NET "usb_clk"			 LOC="J14"  | IOSTANDARD="LVCMOS25" ; # IO_L43P_GCLK5_M1DQ4_1
NET "usb_oen"			 LOC="J13"  | IOSTANDARD="LVCMOS25" ; # IO_L36N_A8_M1BA1_1
NET "usb_rstn"			 LOC="P15"  | IOSTANDARD="LVCMOS25" ; # IO_L74N_DOUT_BUSY_1

#NET "FTDI_ACBUS0_RXF_B"    LOC="N15"  | IOSTANDARD="LVCMOS25" ; # IO_L47N_LDC_M1DQ1_1
#NET "FTDI_ACBUS1_TXE_B"    LOC="M15"  | IOSTANDARD="LVCMOS25" ; # IO_L46N_FOE_B_M1DQ3_1
#NET "FTDI_ACBUS2_RD_B"     LOC="L14"  | IOSTANDARD="LVCMOS25" ; # IO_L45P_A1_M1LDQS_1
#NET "FTDI_ACBUS3_WR_B"     LOC="L15"  | IOSTANDARD="LVCMOS25" ; # IO_L45N_A0_M1LDQSN_1
#NET "FTDI_ACBUS4_SIWUA"    LOC="K15"  | IOSTANDARD="LVCMOS25" ; # IO_L44N_A2_M1DQ7_1
#NET "FTDI_ACBUS5_CLKOUT"   LOC="J14"  | IOSTANDARD="LVCMOS25" ; # IO_L43P_GCLK5_M1DQ4_1
#NET "FTDI_ACBUS6_OE_B"     LOC="J13"  | IOSTANDARD="LVCMOS25" ; # IO_L36N_A8_M1BA1_1
#NET "FTDI_ACBUS7"          LOC="J15"  | IOSTANDARD="LVCMOS25" ; # IO_L43N_GCLK4_M1DQ5_1
#NET "FTDI_ADBUS<0>"        LOC="M13"  | IOSTANDARD="LVCMOS25" ; # IO_L46P_FCS_B_M1DQ2_1
#NET "FTDI_ADBUS<1>"        LOC="L12"  | IOSTANDARD="LVCMOS25" ; # IO_L40N_GCLK10_M1A6_1
#NET "FTDI_ADBUS<2>"        LOC="K12"  | IOSTANDARD="LVCMOS25" ; # IO_L40P_GCLK11_M1A5_1
#NET "FTDI_ADBUS<3>"        LOC="K13"  | IOSTANDARD="LVCMOS25" ; # IO_L44P_A3_M1DQ6_1
#NET "FTDI_ADBUS<4>"        LOC="K11"  | IOSTANDARD="LVCMOS25" ; # IO_L38N_A4_M1CLKN_1
#NET "FTDI_ADBUS<5>"        LOC="J11"  | IOSTANDARD="LVCMOS25" ; # IO_L36P_A9_M1BA0_1
#NET "FTDI_ADBUS<6>"        LOC="H11"  | IOSTANDARD="LVCMOS25" ; # IO_L32N_A16_M1A9_1
#NET "FTDI_ADBUS<7>"        LOC="H12"  | IOSTANDARD="LVCMOS25" ; # IO_L34P_A13_M1WE_1
#NET "FTDI_PWREN_B"         LOC="P14"  | IOSTANDARD="LVCMOS25" ; # IO_L74P_AWAKE_1
#NET "FTDI_SUSPEND_B"       LOC="N14"  | IOSTANDARD="LVCMOS25" ; # IO_L47P_FWE_B_M1DQ0_1
#NET "C_FTDI_RESET_B"       LOC="P15"  | IOSTANDARD="LVCMOS25" ; # IO_L74N_DOUT_BUSY_1

# -----------------
# FPGA Interconnect
# -----------------
NET "lbus_di_a<0>"         LOC="D1"   | IOSTANDARD="LVCMOS25" ; # IO_L54N_M3A11_3
NET "lbus_di_a<1>"         LOC="C1"   | IOSTANDARD="LVCMOS25" ; # IO_L83N_VREF_3
NET "lbus_di_a<2>"         LOC="C2"   | IOSTANDARD="LVCMOS25" ; # IO_L83P_3
NET "lbus_di_a<3>"         LOC="B3"   | IOSTANDARD="LVCMOS25" ; # IO_L2P_0
NET "lbus_di_a<4>"         LOC="A3"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_0
NET "lbus_di_a<5>"         LOC="A4"   | IOSTANDARD="LVCMOS25" ; # IO_L4N_0
NET "lbus_di_a<6>"         LOC="B5"   | IOSTANDARD="LVCMOS25" ; # IO_L6P_0
NET "lbus_di_a<7>"         LOC="A5"   | IOSTANDARD="LVCMOS25" ; # IO_L6N_0
NET "lbus_di_a<8>"         LOC="B7"   | IOSTANDARD="LVCMOS25" ; # IO_L35P_GCLK17_0
NET "lbus_di_a<9>"         LOC="A7"   | IOSTANDARD="LVCMOS25" ; # IO_L35N_GCLK16_0
NET "lbus_di_a<10>"        LOC="A8"   | IOSTANDARD="LVCMOS25" ; # IO_L36N_GCLK14_0
NET "lbus_di_a<11>"        LOC="A9"   | IOSTANDARD="LVCMOS25" ; # IO_L37N_GCLK12_0
NET "lbus_di_a<12>"        LOC="B9"   | IOSTANDARD="LVCMOS25" ; # IO_L37P_GCLK13_0
NET "lbus_di_a<13>"        LOC="A10"  | IOSTANDARD="LVCMOS25" ; # IO_L62N_VREF_0
NET "lbus_di_a<14>"        LOC="A11"  | IOSTANDARD="LVCMOS25" ; # IO_L63N_SCP6_0
NET "lbus_di_a<15>"        LOC="B11"  | IOSTANDARD="LVCMOS25" ; # IO_L63P_SCP7_0
NET "lbus_do<0>"           LOC="A12"  | IOSTANDARD="LVCMOS25" ; # IO_L66N_SCP0_0
NET "lbus_do<1>"           LOC="A13"  | IOSTANDARD="LVCMOS25" ; # IO_L65N_SCP2_0
NET "lbus_do<2>"           LOC="B13"  | IOSTANDARD="LVCMOS25" ; # IO_L65P_SCP3_0
NET "lbus_do<3>"           LOC="B15"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_A24_VREF_1
NET "lbus_do<4>"           LOC="C14"  | IOSTANDARD="LVCMOS25" ; # IO_L33P_A15_M1A10_1
NET "lbus_do<5>"           LOC="C15"  | IOSTANDARD="LVCMOS25" ; # IO_L33N_A14_M1A4_1
NET "lbus_do<6>"           LOC="D15"  | IOSTANDARD="LVCMOS25" ; # IO_L35N_A10_M1A2_1
NET "lbus_do<7>"           LOC="E14"  | IOSTANDARD="LVCMOS25" ; # IO_L37P_A7_M1A0_1
NET "lbus_do<8>"           LOC="E15"  | IOSTANDARD="LVCMOS25" ; # IO_L37N_A6_M1A1_1
NET "lbus_do<9>"           LOC="F15"  | IOSTANDARD="LVCMOS25" ; # IO_L39N_M1ODT_1
NET "lbus_do<10>"          LOC="G14"  | IOSTANDARD="LVCMOS25" ; # IO_L41P_GCLK9_IRDY1_M1RASN_1
NET "lbus_do<11>"          LOC="G15"  | IOSTANDARD="LVCMOS25" ; # IO_L41N_GCLK8_M1CASN_1
NET "lbus_do<12>"          LOC="H15"  | IOSTANDARD="LVCMOS25" ; # IO_L42N_GCLK6_TRDY1_M1LDM_1
NET "lbus_do<13>"          LOC="G3"   | IOSTANDARD="LVCMOS25" ; # IO_L48N_M3BA1_3
NET "lbus_do<14>"          LOC="F4"   | IOSTANDARD="LVCMOS25" ; # IO_L50N_M3BA2_3
NET "lbus_do<15>"          LOC="F3"   | IOSTANDARD="LVCMOS25" ; # IO_L46P_M3CLK_3

NET "lbus_wrn"             LOC="D8"   | IOSTANDARD="LVCMOS25" ; # IO_L34N_GCLK18_0
NET "lbus_rdn"             LOC="E7"   | IOSTANDARD="LVCMOS25" ; # IO_L34P_GCLK19_0
NET "lbus_clkn"            LOC="E8"   | IOSTANDARD="LVCMOS25" ; # IO_L38N_VREF_0
NET "lbus_rstn"            LOC="E9"   | IOSTANDARD="LVCMOS25" ; # IO_L40N_0

#NET "MC_IC_D<0>"           LOC="D1"   | IOSTANDARD="LVCMOS25" ; # IO_L54N_M3A11_3
#NET "MC_IC_D<1>"           LOC="C1"   | IOSTANDARD="LVCMOS25" ; # IO_L83N_VREF_3
#NET "MC_IC_D<2>"           LOC="C2"   | IOSTANDARD="LVCMOS25" ; # IO_L83P_3
#NET "MC_IC_D<3>"           LOC="B3"   | IOSTANDARD="LVCMOS25" ; # IO_L2P_0
#NET "MC_IC_D<4>"           LOC="A3"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_0
#NET "MC_IC_D<5>"           LOC="A4"   | IOSTANDARD="LVCMOS25" ; # IO_L4N_0
#NET "MC_IC_D<6>"           LOC="B5"   | IOSTANDARD="LVCMOS25" ; # IO_L6P_0
#NET "MC_IC_D<7>"           LOC="A5"   | IOSTANDARD="LVCMOS25" ; # IO_L6N_0
#NET "MC_IC_D<8>"           LOC="B7"   | IOSTANDARD="LVCMOS25" ; # IO_L35P_GCLK17_0
#NET "MC_IC_D<9>"           LOC="A7"   | IOSTANDARD="LVCMOS25" ; # IO_L35N_GCLK16_0
#NET "MC_IC_D<10>"          LOC="A8"   | IOSTANDARD="LVCMOS25" ; # IO_L36N_GCLK14_0
#NET "MC_IC_D<11>"          LOC="A9"   | IOSTANDARD="LVCMOS25" ; # IO_L37N_GCLK12_0
#NET "MC_IC_D<12>"          LOC="B9"   | IOSTANDARD="LVCMOS25" ; # IO_L37P_GCLK13_0
#NET "MC_IC_D<13>"          LOC="A10"  | IOSTANDARD="LVCMOS25" ; # IO_L62N_VREF_0
#NET "MC_IC_D<14>"          LOC="A11"  | IOSTANDARD="LVCMOS25" ; # IO_L63N_SCP6_0
#NET "MC_IC_D<15>"          LOC="B11"  | IOSTANDARD="LVCMOS25" ; # IO_L63P_SCP7_0
#NET "MC_IC_D<16>"          LOC="A12"  | IOSTANDARD="LVCMOS25" ; # IO_L66N_SCP0_0
#NET "MC_IC_D<17>"          LOC="A13"  | IOSTANDARD="LVCMOS25" ; # IO_L65N_SCP2_0
#NET "MC_IC_D<18>"          LOC="B13"  | IOSTANDARD="LVCMOS25" ; # IO_L65P_SCP3_0
#NET "MC_IC_D<19>"          LOC="B15"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_A24_VREF_1
#NET "MC_IC_D<20>"          LOC="C14"  | IOSTANDARD="LVCMOS25" ; # IO_L33P_A15_M1A10_1
#NET "MC_IC_D<21>"          LOC="C15"  | IOSTANDARD="LVCMOS25" ; # IO_L33N_A14_M1A4_1
#NET "MC_IC_D<22>"          LOC="D15"  | IOSTANDARD="LVCMOS25" ; # IO_L35N_A10_M1A2_1
#NET "MC_IC_D<23>"          LOC="E14"  | IOSTANDARD="LVCMOS25" ; # IO_L37P_A7_M1A0_1
#NET "MC_IC_D<24>"          LOC="E15"  | IOSTANDARD="LVCMOS25" ; # IO_L37N_A6_M1A1_1
#NET "MC_IC_D<25>"          LOC="F15"  | IOSTANDARD="LVCMOS25" ; # IO_L39N_M1ODT_1
#NET "MC_IC_D<26>"          LOC="G14"  | IOSTANDARD="LVCMOS25" ; # IO_L41P_GCLK9_IRDY1_M1RASN_1
#NET "MC_IC_D<27>"          LOC="G15"  | IOSTANDARD="LVCMOS25" ; # IO_L41N_GCLK8_M1CASN_1
#NET "MC_IC_D<28>"          LOC="H15"  | IOSTANDARD="LVCMOS25" ; # IO_L42N_GCLK6_TRDY1_M1LDM_1
#NET "MC_IC_D<29>"          LOC="G3"   | IOSTANDARD="LVCMOS25" ; # IO_L48N_M3BA1_3
#NET "MC_IC_D<30>"          LOC="F4"   | IOSTANDARD="LVCMOS25" ; # IO_L50N_M3BA2_3
#NET "MC_IC_D<31>"          LOC="F3"   | IOSTANDARD="LVCMOS25" ; # IO_L46P_M3CLK_3
#NET "MC_IC_D<32>"          LOC="F5"   | IOSTANDARD="LVCMOS25" ; # IO_L50P_M3WE_3
#NET "MC_IC_D<33>"          LOC="E3"   | IOSTANDARD="LVCMOS25" ; # IO_L53N_M3A12_3
#NET "MC_IC_D<34>"          LOC="D5"   | IOSTANDARD="LVCMOS25" ; # IO_L3P_0
#NET "MC_IC_D<35>"          LOC="C5"   | IOSTANDARD="LVCMOS25" ; # IO_L3N_0
#NET "MC_IC_D<36>"          LOC="E6"   | IOSTANDARD="LVCMOS25" ; # IO_L5P_0
#NET "MC_IC_D<37>"          LOC="D7"   | IOSTANDARD="LVCMOS25" ; # IO_L7P_0
#NET "MC_IC_D<38>"          LOC="C8"   | IOSTANDARD="LVCMOS25" ; # IO_L36P_GCLK15_0
#NET "MC_IC_D<39>"          LOC="D8"   | IOSTANDARD="LVCMOS25" ; # IO_L34N_GCLK18_0
#NET "MC_IC_D<40>"          LOC="E7"   | IOSTANDARD="LVCMOS25" ; # IO_L34P_GCLK19_0
#NET "MC_IC_D<41>"          LOC="E8"   | IOSTANDARD="LVCMOS25" ; # IO_L38N_VREF_0
#NET "MC_IC_D<42>"          LOC="E9"   | IOSTANDARD="LVCMOS25" ; # IO_L40N_0
#NET "MC_IC_D<43>"          LOC="D10"  | IOSTANDARD="LVCMOS25" ; # IO_L39P_0
#NET "MC_IC_D<44>"          LOC="C10"  | IOSTANDARD="LVCMOS25" ; # IO_L62P_0
#NET "MC_IC_D<45>"          LOC="C11"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_SCP4_0
#NET "MC_IC_D<46>"          LOC="D11"  | IOSTANDARD="LVCMOS25" ; # IO_L64P_SCP5_0
#NET "MC_IC_D<47>"          LOC="C12"  | IOSTANDARD="LVCMOS25" ; # IO_L66P_SCP1_0
#NET "MC_IC_D<48>"          LOC="G12"  | IOSTANDARD="LVCMOS25" ; # IO_L30N_A20_M1A11_1
#NET "MC_IC_D<49>"          LOC="D13"  | IOSTANDARD="LVCMOS25" ; # IO_L35P_A11_M1A7_1
#NET "MC_IC_D<50>"          LOC="F12"  | IOSTANDARD="LVCMOS25" ; # IO_L31N_A18_M1A12_1

# -----------------------
# Main FPGA Configuration
# -----------------------
NET "cfg_cclk"             LOC="H13"  | IOSTANDARD="LVCMOS25" ; # IO_L42P_GCLK7_M1UDM_1
NET "cfg_cson"             LOC="A6"   | IOSTANDARD="LVCMOS25" ; # IO_L33N_0
NET "cfg_din<0>"           LOC="G13"  | IOSTANDARD="LVCMOS25" ; # IO_L34N_A12_M1BA2_1
NET "cfg_din<1>"           LOC="C9"   | IOSTANDARD="LVCMOS25" ; # IO_L39N_0
NET "cfg_din<2>"           LOC="F11"  | IOSTANDARD="LVCMOS25" ; # IO_L31P_A19_M1CKE_1
NET "cfg_din<3>"           LOC="C4"   | IOSTANDARD="LVCMOS25" ; # IO_L4P_0
NET "cfg_din<4>"           LOC="C6"   | IOSTANDARD="LVCMOS25" ; # IO_L33P_0
NET "cfg_din<5>"           LOC="D3"   | IOSTANDARD="LVCMOS25" ; # IO_L54P_M3RESET_3
NET "cfg_din<6>"           LOC="D4"   | IOSTANDARD="LVCMOS25" ; # IO_L53P_M3CKE_3
NET "cfg_din<7>"           LOC="D6"   | IOSTANDARD="LVCMOS25" ; # IO_L5N_0
NET "cfg_done"             LOC="F13"  | IOSTANDARD="LVCMOS25" ; # IO_L39P_M1A3_1
NET "cfg_busy"             LOC="G11"  | IOSTANDARD="LVCMOS25" ; # IO_L30P_A21_M1RESET_1
NET "cfg_initn"            LOC="E4"   | IOSTANDARD="LVCMOS25" ; # IO_L51N_M3A4_3
NET "cfg_m0_remote"        LOC="E2"   | IOSTANDARD="LVCMOS25" ; # IO_L52P_M3A8_3
NET "cfg_m1_remote"        LOC="E1"   | IOSTANDARD="LVCMOS25" ; # IO_L52N_M3A9_3
NET "cfg_mosi"             LOC="B14"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_A25_1
NET "cfg_progn"            LOC="A2"   | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
NET "cfg_rdwrn"            LOC="C7"   | IOSTANDARD="LVCMOS25" ; # IO_L7N_0

#NET "M_CCLK_R"             LOC="H13"  | IOSTANDARD="LVCMOS25" ; # IO_L42P_GCLK7_M1UDM_1
#NET "M_CSO_B_R"            LOC="A6"   | IOSTANDARD="LVCMOS25" ; # IO_L33N_0
#NET "M_D0_DIN_MISO_R"      LOC="G13"  | IOSTANDARD="LVCMOS25" ; # IO_L34N_A12_M1BA2_1
#NET "M_D1_R"               LOC="C9"   | IOSTANDARD="LVCMOS25" ; # IO_L39N_0
#NET "M_D2_R"               LOC="F11"  | IOSTANDARD="LVCMOS25" ; # IO_L31P_A19_M1CKE_1
#NET "M_D3_R"               LOC="C4"   | IOSTANDARD="LVCMOS25" ; # IO_L4P_0
#NET "M_D4_R"               LOC="C6"   | IOSTANDARD="LVCMOS25" ; # IO_L33P_0
#NET "M_D5_R"               LOC="D3"   | IOSTANDARD="LVCMOS25" ; # IO_L54P_M3RESET_3
#NET "M_D6_R"               LOC="D4"   | IOSTANDARD="LVCMOS25" ; # IO_L53P_M3CKE_3
#NET "M_D7_R"               LOC="D6"   | IOSTANDARD="LVCMOS25" ; # IO_L5N_0
#NET "M_DONE_R"             LOC="F13"  | IOSTANDARD="LVCMOS25" ; # IO_L39P_M1A3_1
#NET "M_DOUT_BUSY_R"        LOC="G11"  | IOSTANDARD="LVCMOS25" ; # IO_L30P_A21_M1RESET_1
#NET "M_INIT_B_R"           LOC="E4"   | IOSTANDARD="LVCMOS25" ; # IO_L51N_M3A4_3
#NET "M_M0_REMOTE"          LOC="E2"   | IOSTANDARD="LVCMOS25" ; # IO_L52P_M3A8_3
#NET "M_M1_REMOTE"          LOC="E1"   | IOSTANDARD="LVCMOS25" ; # IO_L52N_M3A9_3
#NET "M_MOSI_CSI_B_R"       LOC="B14"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_A25_1
#NET "M_PROG_B_R"           LOC="A2"   | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
#NET "M_RDWR_B_R"           LOC="C7"   | IOSTANDARD="LVCMOS25" ; # IO_L7N_0

# -----------------------------
# Controller FPGA Configuration
# -----------------------------
#NET "C_CCLK"               LOC="N12"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_CCLK_2
#NET "C_CSO_B"              LOC="R3"   | IOSTANDARD="LVCMOS25" ; # IO_L65N_CSO_B_2
#NET "C_HSWAPEN"            LOC="B2"   | IOSTANDARD="LVCMOS25" ; # IO_L1P_HSWAPEN_0
#NET "C_INIT_B"             LOC="P3"   | IOSTANDARD="LVCMOS25" ; # IO_L65P_INIT_B_2
#NET "C_M0"                 LOC="R12"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_M0_CMPMISO_2
#NET "C_M1"                 LOC="N10"  | IOSTANDARD="LVCMOS25" ; # IO_L13P_M1_2
#NET "C_MISO"               LOC="P11"  | IOSTANDARD="LVCMOS25" ; # IO_L3P_D0_DIN_MISO_MISO1_2
#NET "C_MOSI"               LOC="R11"  | IOSTANDARD="LVCMOS25" ; # IO_L3N_MOSI_CSI_B_MISO0_2

