##Clock signals in and out
#ERRATA: The silkscreen for these pins is wrong on the -02 revision of the hardware.
#        CLKIN is actually routed to P84, CLKOUT is routed to P85.
#        If you need the input clock routed to the _P clock pin, you can do so by using the jumpers to route your
#        clock source to the "CLKOUT" pin instead.

NET clk            LOC="P84"  | IOSTANDARD=LVTTL | PERIOD=100ns;              # CLK signal from CW board
NET clk2           LOC="P85"  | IOSTANDARD=LVTTL | PERIOD=100ns;              # CLK signal out

##UART and GPIO
NET TxD            LOC="P92"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST;          # TX/GPIO1
NET RxD            LOC="P93"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=FAST | PULLUP; # RX/GPIO2
NET IO3            LOC="P94"  | IOSTANDARD=LVTTL;                                # TX/GPIO3
NET IO4            LOC="P95"  | IOSTANDARD=LVTTL | DRIVE=16 | SLEW=FAST;         # TX/GPIO4 (Trigger, so fast slew)

##On board LEDs
NET LED1           LOC="P43"  | IOSTANDARD=LVTTL;                                # LED1
NET LED2           LOC="P44"  | IOSTANDARD=LVTTL;                                # LED2
NET LED3           LOC="P45"  | IOSTANDARD=LVTTL;                                # LED3

##GPIO H pins
NET H1             LOC="P138" | IOSTANDARD=LVTTL;                                # H1
NET H2             LOC="P139" | IOSTANDARD=LVTTL;                                # H1
NET H3             LOC="P140" | IOSTANDARD=LVTTL;                                # H1
NET H4             LOC="P141" | IOSTANDARD=LVTTL;                                # H1
NET H5             LOC="P142" | IOSTANDARD=LVTTL;                                # H1
NET H6             LOC="P143" | IOSTANDARD=LVTTL;                                # H1
NET H7             LOC="P38"  | IOSTANDARD=LVTTL;                                # H1
NET H8             LOC="P39"  | IOSTANDARD=LVTTL;                                # H1
NET H9             LOC="P40"  | IOSTANDARD=LVTTL;                                # H1
NET H10            LOC="P41"  | IOSTANDARD=LVTTL;                                # H1

##CW clock and data 
NET PDIC           LOC="P101" | IOSTANDARD=LVTTL;                                # PDIC
NET PDID           LOC="P102" | IOSTANDARD=LVTTL;                                # PDID

##SPI
NET nRST           LOC="P97"  | IOSTANDARD=LVTTL;                                # nRST
NET SCK            LOC="P98"  | IOSTANDARD=LVTTL;                                # SCK
NET MISO           LOC="P99"  | IOSTANDARD=LVTTL;                                # MISO
NET MOSI           LOC="P100" | IOSTANDARD=LVTTL;                                # MOSI