#================================================ Timing constraint
NET "clkin" TNM_NET = "tnm_net_clkin";
TIMESPEC "TS_clkin" = PERIOD "tnm_net_clkin" 41.666 ns HIGH 50.0%;

#PIN "mk_clkrst/u2.O" CLOCK_DEDICATED_ROUTE = FALSE; 
PIN "mk_clkrst/u3.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "clkin" CLOCK_DEDICATED_ROUTE = FALSE;

NET "ADC_clk_feedback" TNM_NET = "tnm_net_adcclk";
TIMESPEC "TS_adcclk" = PERIOD "tnm_net_adcclk" 10.000 ns HIGH 50.0%;

NET "ADC_clk_feedback" CLOCK_DEDICATED_ROUTE = FALSE;

#================================================ Pin assignment
#------------------------------------------------ Clock, reset, LED, and SW.
#################
# CLOCK / RESET #
#################
NET "clkin"      LOC="A12" | IOSTANDARD="LVCMOS25"; # Clock input (X2)
#NET "clkin_ext" LOC="C12" | IOSTANDARD="LVCMOS25"; # External Clock input (J6)
NET "rstnin"     LOC="Y19" | IOSTANDARD="LVCMOS25" | PULLUP | TIG; # Reset

##########
# SWITCH #
##########
NET "pushsw"     LOC="M19"  | IOSTANDARD="LVCMOS12" | TIG; # Reset input
NET "dipsw<0>"   LOC="R20"  | IOSTANDARD="LVCMOS12" | TIG; # SW3-1
NET "dipsw<1>"   LOC="R22"  | IOSTANDARD="LVCMOS12" | TIG; # SW3-2
NET "dipsw<2>"   LOC="T21"  | IOSTANDARD="LVCMOS12" | TIG; # SW3-3
NET "dipsw<3>"   LOC="T22"  | IOSTANDARD="LVCMOS12" | TIG; # SW3-4
#NET "dipsw<4>"  LOC="U20"  | IOSTANDARD="LVCMOS12" | TIG; # SW4-1
#NET "dipsw<5>"  LOC="U22"  | IOSTANDARD="LVCMOS12" | TIG; # SW4-2
#NET "dipsw<6>"  LOC="V21"  | IOSTANDARD="LVCMOS12" | TIG; # SW4-3
#NET "dipsw<7>"  LOC="V22"  | IOSTANDARD="LVCMOS12" | TIG; # SW4-4

#######
# LED #
#######
NET "led<0>"  LOC="AB19" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED5)
NET "led<1>"  LOC="AA18" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED7)
NET "led<2>"  LOC="AB18" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED9)
NET "led<3>"  LOC="AB17" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED6)
NET "led<4>"  LOC="AA16" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED11)
NET "led<5>"  LOC="AB16" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED8)
NET "led<6>"  LOC="AB15" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED10)
NET "led<7>"  LOC="AA14" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=4 | TIG; # LED (LED12)

#------------------------------------------------ Interface
###############
# USB FT2232H #
###############
#### VCP Mode
#NET "usb_txd"       LOC="C5"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS0
#NET "usb_rxd"       LOC="A5"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS1
#NET "usb_rtsn"      LOC="D6"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS2
#NET "usb_ctsn"      LOC="C6"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS3
#NET "usb_dtrn"      LOC="B6"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS4
#NET "usb_dsrn"     LOC="A6"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS5
#NET "usb_dcdn"     LOC="C7"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS6
#NET "usb_rin"      LOC="A7"  | IOSTANDARD="LVCMOS25" | DRIVE=4;     # ADBUS7

#### FIFO Mode
NET "usb_d<0>"     LOC="C5"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS0
NET "usb_d<1>"     LOC="A5"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS1
NET "usb_d<2>"     LOC="D6"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS2
NET "usb_d<3>"     LOC="C6"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS3
NET "usb_d<4>"     LOC="B6"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS4
NET "usb_d<5>"     LOC="A6"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS5
NET "usb_d<6>"     LOC="C7"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS6
NET "usb_d<7>"     LOC="A7"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ADBUS7

NET "usb_rxfn"     LOC="B8"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ACBUS0
NET "usb_txen"     LOC="A8"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ACBUS1
NET "usb_rdn"      LOC="D9"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ACBUS2
NET "usb_wrn"      LOC="C8"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ACBUS3
NET "usb_siwua"    LOC="C9"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;     # ACBUS4
NET "usb_clk"      LOC="B10"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST ;     # ACBUS5 
NET "usb_clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "usb_clk" TNM_NET = "tnm_net_usb_clk";
TIMESPEC "TS_usb_clk" = PERIOD "tnm_net_usb_clk" 16.5 ns HIGH 50.0%;
NET "usb_oen"      LOC="D8"  | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST;      # ACBUS6
#NET "usb_pwrsavn"  LOC="D10" | IOSTANDARD="LVCMOS25" | DRIVE=4 | TIG;# ACBUS7
#NET "usb_suspend"  LOC="A16" | IOSTANDARD="LVCMOS25" | DRIVE=4 | TIG;# SUSPEND
#NET "usb_pwren"    LOC="B16" | IOSTANDARD="LVCMOS25" | DRIVE=4 | TIG;# PWREN
NET "usb_nrst"      LOC="C17" | IOSTANDARD="LVCMOS25" | DRIVE=16 | SLEW=FAST | TIG;

###########
# IC CARD #
###########
NET "card_io"       LOC="F20" | IOSTANDARD="LVCMOS12"|SLEW="QUIETIO" | DRIVE=2 | PULLUP;
NET "card_inserted" LOC="D15" | IOSTANDARD="LVCMOS25";
NET "card_oe"       LOC="F18" | IOSTANDARD="LVCMOS12"|SLEW="QUIETIO" | DRIVE=2;
NET "card_power_en" LOC="A15" | IOSTANDARD="LVCMOS25"|SLEW="QUIETIO" | DRIVE=2;
NET "card_clk"      LOC="E20" | IOSTANDARD="LVCMOS12"|SLEW="QUIETIO" | DRIVE=2;
NET "card_rst"      LOC="C22" | IOSTANDARD="LVCMOS12"|SLEW="QUIETIO" | DRIVE=2;
#NET "card_clk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "card_aux1"     LOC="H18" | IOSTANDARD="LVCMOS12";
NET "card_aux2"     LOC="H19" | IOSTANDARD="LVCMOS12";

#############
# FPGA GPIO #
#############
NET "gpio_trig0" LOC="AB10"  | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2;#10
NET "gpio_trig1" LOC="AB8"  | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2;#12
#NET "gpio_txd"   LOC="AB7" | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2;#6
#NET "gpio_rxd"   LOC="AA6"  | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2;#8

NET "DUT_CLK_i"     LOC="AA6"  | IOSTANDARD="LVCMOS25";
NET "DUT_trigger_i"     LOC="AB6"  | IOSTANDARD="LVCMOS25" ;
NET "ADC_Data[9]"     LOC="AA4"  | IOSTANDARD="LVCMOS25";
NET "ADC_OR"     LOC="AB4"  | IOSTANDARD="LVCMOS25";
NET "ADC_Data[7]"    LOC="AB3"  | IOSTANDARD="LVCMOS25";
NET "ADC_Data[8]"    LOC="Y7"   | IOSTANDARD="LVCMOS25";
NET "ADC_Data[5]"    LOC="AA2"  | IOSTANDARD="LVCMOS25";
NET "ADC_Data[6]"    LOC="Y3"   | IOSTANDARD="LVCMOS25";
#NET "ioa<14>"    LOC="AB2"  | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<15>"    LOC="W4"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<16>"    LOC="Y2"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<17>"    LOC="Y4"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<18>"    LOC="Y1"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<19>"    LOC="U6"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<20>"    LOC="W3"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
#NET "ioa<21>"    LOC="V5"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
NET "ADC_clk_feedback"    LOC="W1"   | IOSTANDARD="LVCMOS25";
#NET "ioa<23>"    LOC="U3"   | IOSTANDARD="LVCMOS25" | SLEW="SLOW" | DRIVE=4;
NET "ADC_Data[3]"    LOC="V1"   | IOSTANDARD="LVCMOS25";
NET "ADC_Data[4]"    LOC="T7"   | IOSTANDARD="LVCMOS25";
NET "ADC_Data[1]"    LOC="U1"   | IOSTANDARD="LVCMOS25";
NET "ADC_Data[2]"    LOC="R7"   | IOSTANDARD="LVCMOS25";
NET "ADC_clk"    LOC="P8"   | IOSTANDARD="LVCMOS25";
NET "ADC_Data[0]"    LOC="P7"   | IOSTANDARD="LVCMOS25";
NET "amp_gain"    LOC="M5"   | IOSTANDARD="LVCMOS25";
NET "amp_hilo"    LOC="M4"   | IOSTANDARD="LVCMOS25";

NET "adc_txd" LOC="B2" | IOSTANDARD="LVCMOS25";
NET "adc_rxd" LOC="B1" | IOSTANDARD="LVCMOS25";

##SPI FLASH
NET "flash_DIN"		LOC="AA20" | IOSTANDARD="LVCMOS25" | SLEW="FAST";
NET "flash_DOUT"		LOC="AB20" | IOSTANDARD="LVCMOS25" | SLEW="FAST";
NET "flash_CS"			LOC="T5"   | IOSTANDARD="LVCMOS25" | SLEW="FAST";
net "flash_CLK"		LOC="Y21"  | IOSTANDARD="LVCMOS25" | SLEW="FAST";