# ------------------------------------------------------------------------
# User Constraint File (.ucf) of Main FPGA on SAKURA-G (SAKURA-G-R1)
#
# Copyright (C) 2012,2013 Morita-tech co.,ltd.
#
# File name      : sakura_g_main_r1.ucf
# Version        : 1.0
# Date           : Jun/15/2013
# Board Revision : SAKURA-G-R1
# ------------------------------------------------------------------------

# Timing -----------------------------------------------------------------

NET "lbus_clkn" TNM_NET = "lbus_clkn_GRP" ;
TIMESPEC "TS_lbus_clkn" = PERIOD : "lbus_clkn_GRP" : 48 MHz HIGH 50.0% ;

#NET "M_CLK_OSC" TNM_NET = "CLK_OSC_GRP" ;
#TIMESPEC "TS_CLK_OSC" = PERIOD : "CLK_OSC_GRP" : 48 MHz HIGH 50.0% ;

#NET "aes_clk" TNM_NET = "aes_clk_GRP" ;
#TIMESPEC "TS_aes_clk" = PERIOD : "aes_clk_GRP" : 125 MHz HIGH 50.0% ;

# Pin --------------------------------------------------------------------
# ------------
# Clock, Reset
# ------------
NET "gpio_startn_sma"      LOC="N4"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43P_GCLK23_M3RASN_3

#NET "M_CLK_OSC"            LOC="J1"   | IOSTANDARD="LVCMOS25" ;                        # IO_L41N_GCLK26_M3DQ5_3
#NET "M_CLK_INH_B"          LOC="M1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | TIG ; # IO_L38N_M3DQ3_3
#NET "M_CLK_EXT0_N"         LOC="P3"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43N_GCLK22_IRDY2_M3CASN_3
#NET "M_CLK_EXT0_P"         LOC="N4"   | IOSTANDARD="LVCMOS25" ;                        # IO_L43P_GCLK23_M3RASN_3
#NET "M_RESET_B"            LOC="A2"   | IOSTANDARD="LVCMOS25" | TIG ;                  # IO_L83N_VREF_3

# --------
# User LED
# --------
NET "led<0>"               LOC="M2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L38P_M3DQ2_3
NET "led<1>"               LOC="N1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L37N_M3DQ1_3
NET "led<2>"               LOC="P1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L36N_M3DQ9_3
NET "led<3>"               LOC="P2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L36P_M3DQ8_3
NET "led<4>"               LOC="R1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L35N_M3DQ11_3
NET "led<5>"               LOC="T1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L34N_M3UDQSN_3
NET "led<6>"               LOC="T2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L34P_M3UDQS_3
NET "led<7>"               LOC="U1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L33N_M3DQ13_3
#NET "led<8>"               LOC="V1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L32N_M3DQ15_3
#NET "led<9>"               LOC="V2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L32P_M3DQ14_3

#NET "M_LED<0>"             LOC="M2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L38P_M3DQ2_3
#NET "M_LED<1>"             LOC="N1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L37N_M3DQ1_3
#NET "M_LED<2>"             LOC="P1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L36N_M3DQ9_3
#NET "M_LED<3>"             LOC="P2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L36P_M3DQ8_3
#NET "M_LED<4>"             LOC="R1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L35N_M3DQ11_3
#NET "M_LED<5>"             LOC="T1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L34N_M3UDQSN_3
#NET "M_LED<6>"             LOC="T2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L34P_M3UDQS_3
#NET "M_LED<7>"             LOC="U1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L33N_M3DQ13_3
#NET "M_LED<8>"             LOC="V1"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L32N_M3DQ15_3
#NET "M_LED<9>"             LOC="V2"   | IOSTANDARD="LVCMOS25" | SLEW="QUIETIO" | DRIVE=2 | TIG ; # IO_L32P_M3DQ14_3

# ----------------
# User Push Switch
# ----------------
#NET "M_PUSHSW<0>"          LOC="D3"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L81N_3
#NET "M_PUSHSW<1>"          LOC="E3"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L48P_M3BA0_3

# ---------------
# User DIP Switch
# ---------------
#NET "M_DIPSW<0>"           LOC="B2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L54P_M3RESET_3
#NET "M_DIPSW<1>"           LOC="B1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L54N_M3A11_3
#NET "M_DIPSW<2>"           LOC="C1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L52N_M3A9_3
#NET "M_DIPSW<3>"           LOC="D2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L50P_M3WE_3
#NET "M_DIPSW<4>"           LOC="D1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L50N_M3BA2_3
#NET "M_DIPSW<5>"           LOC="E1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L48N_M3BA1_3
#NET "M_DIPSW<6>"           LOC="F2"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L46P_M3CLK_3
#NET "M_DIPSW<7>"           LOC="F1"   | IOSTANDARD="LVCMOS25" | TIG ; # IO_L46N_M3CLKN_3

# ---------------
# User Header Pin
# ---------------
NET "gpio_startn"          LOC="A5"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_0
NET "gpio_endn"            LOC="A6"   | IOSTANDARD="LVCMOS25" ; # IO_L4N_0
NET "gpio_exec"            LOC="B8"   | IOSTANDARD="LVCMOS25" ; # IO_L6P_0

#NET "M_HEADER<0>"          LOC="A4"   | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_0
#NET "M_HEADER<1>"          LOC="A5"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_0
#NET "M_HEADER<2>"          LOC="B6"   | IOSTANDARD="LVCMOS25" ; # IO_L4P_0
#NET "M_HEADER<3>"          LOC="A6"   | IOSTANDARD="LVCMOS25" ; # IO_L4N_0
#NET "M_HEADER<4>"          LOC="A7"   | IOSTANDARD="LVCMOS25" ; # IO_L5N_0
#NET "M_HEADER<5>"          LOC="B8"   | IOSTANDARD="LVCMOS25" ; # IO_L6P_0
#NET "M_HEADER<6>"          LOC="A8"   | IOSTANDARD="LVCMOS25" ; # IO_L6N_0
#NET "M_HEADER<7>"          LOC="A9"   | IOSTANDARD="LVCMOS25" ; # IO_L8N_VREF_0
#NET "M_HEADER<8>"          LOC="C5"   | IOSTANDARD="LVCMOS25" ; # IO_L2P_0
#NET "M_HEADER<9>"          LOC="C6"   | IOSTANDARD="LVCMOS25" ; # IO_L3N_0
#NET "M_HEADER<10>"         LOC="C7"   | IOSTANDARD="LVCMOS25" ; # IO_L5P_0
#NET "M_HEADER<11>"         LOC="C17"  | IOSTANDARD="LVCMOS25" ; # IO_L64P_SCP5_0
#NET "M_HEADER<12>"         LOC="A11"  | IOSTANDARD="LVCMOS25" ; # IO_L35N_GCLK16_0
#NET "M_HEADER<13>"         LOC="A12"  | IOSTANDARD="LVCMOS25" ; # IO_L36N_GCLK14_0
#NET "M_HEADER<14>"         LOC="B12"  | IOSTANDARD="LVCMOS25" ; # IO_L36P_GCLK15_0
#NET "M_HEADER<15>"         LOC="A13"  | IOSTANDARD="LVCMOS25" ; # IO_L48N_0
#NET "M_HEADER<16>"         LOC="A14"  | IOSTANDARD="LVCMOS25" ; # IO_L50N_0
#NET "M_HEADER<17>"         LOC="B14"  | IOSTANDARD="LVCMOS25" ; # IO_L50P_0
#NET "M_HEADER<18>"         LOC="A15"  | IOSTANDARD="LVCMOS25" ; # IO_L62N_VREF_0
#NET "M_HEADER<19>"         LOC="A16"  | IOSTANDARD="LVCMOS25" ; # IO_L63N_SCP6_0
#NET "M_HEADER<20>"         LOC="B16"  | IOSTANDARD="LVCMOS25" ; # IO_L63P_SCP7_0
#NET "M_HEADER<21>"         LOC="A17"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_SCP4_0
#NET "M_HEADER<22>"         LOC="A18"  | IOSTANDARD="LVCMOS25" ; # IO_L66N_SCP0_0
#NET "M_HEADER<23>"         LOC="B18"  | IOSTANDARD="LVCMOS25" ; # IO_L66P_SCP1_0
#NET "M_HEADER_CLK_N"       LOC="A10"  | IOSTANDARD="LVCMOS25" ; # IO_L34N_GCLK18_0
#NET "M_HEADER_CLK_P"       LOC="B10"  | IOSTANDARD="LVCMOS25" ; # IO_L34P_GCLK19_0

# -----------------
# USB I/F (FT2232H)
# -----------------
#NET "FTDI_BCBUS0_RXF_B"    LOC="N20"  | IOSTANDARD="LVCMOS25" ; # IO_L47P_FWE_B_M1DQ0_1
#NET "FTDI_BCBUS1_TXE_B"    LOC="P20"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_1
#NET "FTDI_BCBUS2_RD_B"     LOC="R20"  | IOSTANDARD="LVCMOS25" ; # IO_L49P_M1DQ10_1
#NET "FTDI_BCBUS3_WR_B"     LOC="U20"  | IOSTANDARD="LVCMOS25" ; # IO_L51P_M1DQ12_1
#NET "FTDI_BCBUS4_SIWUB"    LOC="V18"  | IOSTANDARD="LVCMOS25" ; # IO_L73N_1
#NET "FTDI_BCBUS5"          LOC="V20"  | IOSTANDARD="LVCMOS25" ; # IO_L71N_1
#NET "FTDI_BCBUS6"          LOC="V19"  | IOSTANDARD="LVCMOS25" ; # IO_L71P_1
#NET "FTDI_BCBUS7_PWRSAV_B" LOC="W20"  | IOSTANDARD="LVCMOS25" ; # IO_L53P_1
#NET "FTDI_BDBUS<0>"        LOC="V21"  | IOSTANDARD="LVCMOS25" ; # IO_L52P_M1DQ14_1
#NET "FTDI_BDBUS<1>"        LOC="V22"  | IOSTANDARD="LVCMOS25" ; # IO_L52N_M1DQ15_1
#NET "FTDI_BDBUS<2>"        LOC="U22"  | IOSTANDARD="LVCMOS25" ; # IO_L51N_M1DQ13_1
#NET "FTDI_BDBUS<3>"        LOC="T22"  | IOSTANDARD="LVCMOS25" ; # IO_L50N_M1UDQSN_1
#NET "FTDI_BDBUS<4>"        LOC="R22"  | IOSTANDARD="LVCMOS25" ; # IO_L49N_M1DQ11_1
#NET "FTDI_BDBUS<5>"        LOC="P21"  | IOSTANDARD="LVCMOS25" ; # IO_L48P_HDC_M1DQ8_1
#NET "FTDI_BDBUS<6>"        LOC="P22"  | IOSTANDARD="LVCMOS25" ; # IO_L48N_M1DQ9_1
#NET "FTDI_BDBUS<7>"        LOC="N22"  | IOSTANDARD="LVCMOS25" ; # IO_L47N_LDC_M1DQ1_1
#NET "FTDI_PWREN_B"         LOC="Y20"  | IOSTANDARD="LVCMOS25" ; # IO_L67N_1
#NET "FTDI_SUSPEND_B"       LOC="W22"  | IOSTANDARD="LVCMOS25" ; # IO_L53N_VREF_1
#NET "M_FTDI_RESET_B"       LOC="Y19"  | IOSTANDARD="LVCMOS25" ; # IO_L67P_1

# -----------------
# FPGA Interconnect
# -----------------
NET "lbus_di_a<0>"         LOC="W1"   | IOSTANDARD="LVCMOS25" ; # IO_L9N_3
NET "lbus_di_a<1>"         LOC="Y1"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_3
NET "lbus_di_a<2>"         LOC="Y2"   | IOSTANDARD="LVCMOS25" ; # IO_L2P_3
NET "lbus_di_a<3>"         LOC="AA2"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_3
NET "lbus_di_a<4>"         LOC="AB2"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_3
NET "lbus_di_a<5>"         LOC="AB3"  | IOSTANDARD="LVCMOS25" ; # IO_L8N_3
NET "lbus_di_a<6>"         LOC="AA4"  | IOSTANDARD="LVCMOS25" ; # IO_L12P_3
NET "lbus_di_a<7>"         LOC="AB4"  | IOSTANDARD="LVCMOS25" ; # IO_L12N_3
NET "lbus_di_a<8>"         LOC="AA6"  | IOSTANDARD="LVCMOS25" ; # IO_L64P_D8_2
NET "lbus_di_a<9>"         LOC="AB6"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_D9_2
NET "lbus_di_a<10>"        LOC="AB11" | IOSTANDARD="LVCMOS25" ; # IO_L31N_GCLK30_D15_2
NET "lbus_di_a<11>"        LOC="AB12" | IOSTANDARD="LVCMOS25" ; # IO_L30N_GCLK0_USERCCLK_2
NET "lbus_di_a<12>"        LOC="AA12" | IOSTANDARD="LVCMOS25" ; # IO_L30P_GCLK1_D13_2
NET "lbus_di_a<13>"        LOC="AB13" | IOSTANDARD="LVCMOS25" ; # IO_L41N_VREF_2
NET "lbus_di_a<14>"        LOC="AB14" | IOSTANDARD="LVCMOS25" ; # IO_L15N_2
NET "lbus_di_a<15>"        LOC="AA14" | IOSTANDARD="LVCMOS25" ; # IO_L15P_2

NET "lbus_do<0>"           LOC="AB15" | IOSTANDARD="LVCMOS25" ; # IO_L5N_2
NET "lbus_do<1>"           LOC="AB16" | IOSTANDARD="LVCMOS25" ; # IO_L4N_VREF_2
NET "lbus_do<2>"           LOC="AA16" | IOSTANDARD="LVCMOS25" ; # IO_L4P_2
NET "lbus_do<3>"           LOC="AB18" | IOSTANDARD="LVCMOS25" ; # IO_L2N_CMPMOSI_2
NET "lbus_do<4>"           LOC="AA18" | IOSTANDARD="LVCMOS25" ; # IO_L2P_CMPCLK_2
NET "lbus_do<5>"           LOC="AB19" | IOSTANDARD="LVCMOS25" ; # IO_L65P_1
NET "lbus_do<6>"           LOC="AB20" | IOSTANDARD="LVCMOS25" ; # IO_L65N_1
NET "lbus_do<7>"           LOC="AA20" | IOSTANDARD="LVCMOS25" ; # IO_L61P_1
NET "lbus_do<8>"           LOC="AB21" | IOSTANDARD="LVCMOS25" ; # IO_L61N_1
NET "lbus_do<9>"           LOC="AA21" | IOSTANDARD="LVCMOS25" ; # IO_L63P_1
NET "lbus_do<10>"          LOC="AA22" | IOSTANDARD="LVCMOS25" ; # IO_L63N_1
NET "lbus_do<11>"          LOC="Y21"  | IOSTANDARD="LVCMOS25" ; # IO_L59P_1
NET "lbus_do<12>"          LOC="Y22"  | IOSTANDARD="LVCMOS25" ; # IO_L59N_1
NET "lbus_do<13>"          LOC="V3"   | IOSTANDARD="LVCMOS25" ; # IO_L18N_3
NET "lbus_do<14>"          LOC="W3"   | IOSTANDARD="LVCMOS25" ; # IO_L9P_3
NET "lbus_do<15>"          LOC="Y3"   | IOSTANDARD="LVCMOS25" ; # IO_L8P_3

NET "lbus_wrn"             LOC="AB10" | IOSTANDARD="LVCMOS25" ; # IO_L32N_GCLK28_2
NET "lbus_rdn"             LOC="Y10"  | IOSTANDARD="LVCMOS25" ; # IO_L29N_GCLK2_2
NET "lbus_clkn"            LOC="Y11"  | IOSTANDARD="LVCMOS25" ; # IO_L31P_GCLK31_D14_2
NET "lbus_rstn"            LOC="W11"  | IOSTANDARD="LVCMOS25" ; # IO_L29P_GCLK3_2

#NET "MC_IC_D<0>"           LOC="W1"   | IOSTANDARD="LVCMOS25" ; # IO_L9N_3
#NET "MC_IC_D<1>"           LOC="Y1"   | IOSTANDARD="LVCMOS25" ; # IO_L2N_3
#NET "MC_IC_D<2>"           LOC="Y2"   | IOSTANDARD="LVCMOS25" ; # IO_L2P_3
#NET "MC_IC_D<3>"           LOC="AA2"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_3
#NET "MC_IC_D<4>"           LOC="AB2"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_VREF_3
#NET "MC_IC_D<5>"           LOC="AB3"  | IOSTANDARD="LVCMOS25" ; # IO_L8N_3
#NET "MC_IC_D<6>"           LOC="AA4"  | IOSTANDARD="LVCMOS25" ; # IO_L12P_3
#NET "MC_IC_D<7>"           LOC="AB4"  | IOSTANDARD="LVCMOS25" ; # IO_L12N_3
#NET "MC_IC_D<8>"           LOC="AA6"  | IOSTANDARD="LVCMOS25" ; # IO_L64P_D8_2
#NET "MC_IC_D<9>"           LOC="AB6"  | IOSTANDARD="LVCMOS25" ; # IO_L64N_D9_2
#NET "MC_IC_D<10>"          LOC="AB11" | IOSTANDARD="LVCMOS25" ; # IO_L31N_GCLK30_D15_2
#NET "MC_IC_D<11>"          LOC="AB12" | IOSTANDARD="LVCMOS25" ; # IO_L30N_GCLK0_USERCCLK_2
#NET "MC_IC_D<12>"          LOC="AA12" | IOSTANDARD="LVCMOS25" ; # IO_L30P_GCLK1_D13_2
#NET "MC_IC_D<13>"          LOC="AB13" | IOSTANDARD="LVCMOS25" ; # IO_L41N_VREF_2
#NET "MC_IC_D<14>"          LOC="AB14" | IOSTANDARD="LVCMOS25" ; # IO_L15N_2
#NET "MC_IC_D<15>"          LOC="AA14" | IOSTANDARD="LVCMOS25" ; # IO_L15P_2
#NET "MC_IC_D<16>"          LOC="AB15" | IOSTANDARD="LVCMOS25" ; # IO_L5N_2
#NET "MC_IC_D<17>"          LOC="AB16" | IOSTANDARD="LVCMOS25" ; # IO_L4N_VREF_2
#NET "MC_IC_D<18>"          LOC="AA16" | IOSTANDARD="LVCMOS25" ; # IO_L4P_2
#NET "MC_IC_D<19>"          LOC="AB18" | IOSTANDARD="LVCMOS25" ; # IO_L2N_CMPMOSI_2
#NET "MC_IC_D<20>"          LOC="AA18" | IOSTANDARD="LVCMOS25" ; # IO_L2P_CMPCLK_2
#NET "MC_IC_D<21>"          LOC="AB19" | IOSTANDARD="LVCMOS25" ; # IO_L65P_1
#NET "MC_IC_D<22>"          LOC="AB20" | IOSTANDARD="LVCMOS25" ; # IO_L65N_1
#NET "MC_IC_D<23>"          LOC="AA20" | IOSTANDARD="LVCMOS25" ; # IO_L61P_1
#NET "MC_IC_D<24>"          LOC="AB21" | IOSTANDARD="LVCMOS25" ; # IO_L61N_1
#NET "MC_IC_D<25>"          LOC="AA21" | IOSTANDARD="LVCMOS25" ; # IO_L63P_1
#NET "MC_IC_D<26>"          LOC="AA22" | IOSTANDARD="LVCMOS25" ; # IO_L63N_1
#NET "MC_IC_D<27>"          LOC="Y21"  | IOSTANDARD="LVCMOS25" ; # IO_L59P_1
#NET "MC_IC_D<28>"          LOC="Y22"  | IOSTANDARD="LVCMOS25" ; # IO_L59N_1
#NET "MC_IC_D<29>"          LOC="V3"   | IOSTANDARD="LVCMOS25" ; # IO_L18N_3
#NET "MC_IC_D<30>"          LOC="W3"   | IOSTANDARD="LVCMOS25" ; # IO_L9P_3
#NET "MC_IC_D<31>"          LOC="Y3"   | IOSTANDARD="LVCMOS25" ; # IO_L8P_3
#NET "MC_IC_D<32>"          LOC="W4"   | IOSTANDARD="LVCMOS25" ; # IO_L7P_3
#NET "MC_IC_D<33>"          LOC="Y4"   | IOSTANDARD="LVCMOS25" ; # IO_L7N_3
#NET "MC_IC_D<34>"          LOC="Y7"   | IOSTANDARD="LVCMOS25" ; # IO_L63P_2
#NET "MC_IC_D<35>"          LOC="Y8"   | IOSTANDARD="LVCMOS25" ; # IO_L47N_2
#NET "MC_IC_D<36>"          LOC="W9"   | IOSTANDARD="LVCMOS25" ; # IO_L47P_2
#NET "MC_IC_D<37>"          LOC="AA10" | IOSTANDARD="LVCMOS25" ; # IO_L32P_GCLK29_2
#NET "MC_IC_D<38>"          LOC="AB7"  | IOSTANDARD="LVCMOS25" ; # IO_L63N_2
#NET "MC_IC_D<39>"          LOC="AB10" | IOSTANDARD="LVCMOS25" ; # IO_L32N_GCLK28_2
#NET "MC_IC_D<40>"          LOC="Y10"  | IOSTANDARD="LVCMOS25" ; # IO_L29N_GCLK2_2
#NET "MC_IC_D<41>"          LOC="Y11"  | IOSTANDARD="LVCMOS25" ; # IO_L31P_GCLK31_D14_2
#NET "MC_IC_D<42>"          LOC="W11"  | IOSTANDARD="LVCMOS25" ; # IO_L29P_GCLK3_2
#NET "MC_IC_D<43>"          LOC="W12"  | IOSTANDARD="LVCMOS25" ; # IO_L42P_2
#NET "MC_IC_D<44>"          LOC="Y12"  | IOSTANDARD="LVCMOS25" ; # IO_L42N_2
#NET "MC_IC_D<45>"          LOC="Y13"  | IOSTANDARD="LVCMOS25" ; # IO_L41P_2
#NET "MC_IC_D<46>"          LOC="Y14"  | IOSTANDARD="LVCMOS25" ; # IO_L16N_VREF_2
#NET "MC_IC_D<47>"          LOC="W14"  | IOSTANDARD="LVCMOS25" ; # IO_L16P_2
#NET "MC_IC_D<48>"          LOC="Y15"  | IOSTANDARD="LVCMOS25" ; # IO_L5P_2
#NET "MC_IC_D<49>"          LOC="W15"  | IOSTANDARD="LVCMOS25" ; # IO_L14P_D11_2
#NET "MC_IC_D<50>"          LOC="Y16"  | IOSTANDARD="LVCMOS25" ; # IO_L14N_D12_2

# -----------------------
# Main FPGA Configuration
# -----------------------
#NET "M_CCLK_R0"            LOC="W17"  | IOSTANDARD="LVCMOS25" ; # IO_L1P_CCLK_2
#NET "M_CSO_B"              LOC="AB5"  | IOSTANDARD="LVCMOS25" ; # IO_L65N_CSO_B_2
#NET "M_D0_DIN_MISO"        LOC="Y17"  | IOSTANDARD="LVCMOS25" ; # IO_L3P_D0_DIN_MISO_MISO1_2
#NET "M_D1"                 LOC="V13"  | IOSTANDARD="LVCMOS25" ; # IO_L12P_D1_MISO2_2
#NET "M_D2"                 LOC="W13"  | IOSTANDARD="LVCMOS25" ; # IO_L12N_D2_MISO3_2
#NET "M_D3"                 LOC="AA8"  | IOSTANDARD="LVCMOS25" ; # IO_L49P_D3_2
#NET "M_D4"                 LOC="AB8"  | IOSTANDARD="LVCMOS25" ; # IO_L49N_D4_2
#NET "M_D5"                 LOC="W6"   | IOSTANDARD="LVCMOS25" ; # IO_L62P_D5_2
#NET "M_D6"                 LOC="Y6"   | IOSTANDARD="LVCMOS25" ; # IO_L62N_D6_2
#NET "M_D7"                 LOC="Y9"   | IOSTANDARD="LVCMOS25" ; # IO_L48P_D7_2
#NET "M_DOUT_BUSY"          LOC="T20"  | IOSTANDARD="LVCMOS25" ; # IO_L74N_DOUT_BUSY_1
#NET "M_HSWAPEN"            LOC="B3"   | IOSTANDARD="LVCMOS25" ; # IO_L1P_HSWAPEN_0
#NET "M_INIT_B"             LOC="Y5"   | IOSTANDARD="LVCMOS25" ; # IO_L65P_INIT_B_2
#NET "M_M0"                 LOC="Y18"  | IOSTANDARD="LVCMOS25" ; # IO_L1N_M0_CMPMISO_2
#NET "M_M1"                 LOC="U15"  | IOSTANDARD="LVCMOS25" ; # IO_L13P_M1_2
#NET "M_MOSI_CSI_B"         LOC="AB17" | IOSTANDARD="LVCMOS25" ; # IO_L3N_MOSI_CSI_B_MISO0_2
#NET "M_RDWR_B"             LOC="AB9"  | IOSTANDARD="LVCMOS25" ; # IO_L48N_RDWR_B_VREF_2

# ------------
# Reserved I/O
# ------------
#NET "M_RSVIO_0_N"          LOC="H1"   | IOSTANDARD="LVCMOS25" ; # IO_L42N_GCLK24_M3LDM_3
#NET "M_RSVIO_0_P"          LOC="H2"   | IOSTANDARD="LVCMOS25" ; # IO_L42P_GCLK25_TRDY2_M3UDM_3
