# NET "CLK" TNM_NET = "CLK";
# TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %;
# NET "CLK"  LOC = "K14" | IOSTANDARD = LVCMOS33 ;

NET "IFCLK" TNM_NET = "IFCLK";
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20 ns HIGH 50 %;
NET "IFCLK"  LOC = "J14" | IOSTANDARD = LVCMOS33 ;
NET "ifclk" CLOCK_DEDICATED_ROUTE = FALSE;

# TIMESPEC "TS_CLK_IFCLK" = FROM "CLK" TO "IFCLK" 3ns DATAPATHONLY;
# TIMESPEC "TS_IFCLK_CLK" = FROM "IFCLK" TO "CLK" 3ns DATAPATHONLY;

NET "RESET_I" LOC = "R3" | IOSTANDARD = LVCMOS33 ;			# PA0
NET "SLOE"  LOC = "T3" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;		# PA2
#NET "CONT"  LOC = "R11" | IOSTANDARD = LVCMOS33 ;			# PA3
NET "FIFOADR0"  LOC = "T5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;	# PA4
NET "FIFOADR1"  LOC = "N11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;	# PA5
NET "PKTEND"  LOC = "T11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;	# PA6
# NET "PA7"  LOC = "T10" | IOSTANDARD = LVCMOS33 ;

NET "FD<0>"  LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ; 
NET "FD<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<2>"  LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<3>"  LOC = "D14" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<4>"  LOC = "E13" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<5>"  LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<6>"  LOC = "F16" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "FD<7>"  LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<8>"  LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<9>"  LOC = "N12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<10>"  LOC = "P12" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<11>"  LOC = "N5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<12>"  LOC = "P5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<13>"  LOC = "L8" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<14>"  LOC = "L7" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
#NET "FD<15>"  LOC = "R5" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;

# NET "PC<0>"  LOC = "G12" | IOSTANDARD = LVCMOS33 ;
# NET "PC<1>"  LOC = "G11" | IOSTANDARD = LVCMOS33 ;
# NET "PC<2>"  LOC = "H15" | IOSTANDARD = LVCMOS33 ;
# NET "PC<3>"  LOC = "M14" | IOSTANDARD = LVCMOS33 ;
# NET "pc<4>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ;
# NET "pc<5>"  LOC = "H14" | IOSTANDARD = LVCMOS33 ;
# NET "pc<6>"  LOC = "H11" | IOSTANDARD = LVCMOS33 ;
# NET "pc<7>"  LOC = "H13" | IOSTANDARD = LVCMOS33 ;

NET "FLAGA"  LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "FLAGB"  LOC = "G16" | IOSTANDARD = LVCMOS33 ;

NET "SLRD"  LOC = "K11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;
NET "SLWR"  LOC = "J11" | IOSTANDARD = LVCMOS33 | DRIVE = 12 ;


NET DUT_CLK_i         LOC=N8    |IOSTANDARD = LVCMOS33;
NET DUT_trigger_i     LOC=M9    |IOSTANDARD = LVCMOS33;
NET ADC_Data[9]       LOC=N9    |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[7]       LOC=R9    |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[5]       LOC=M12   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_OR            LOC=P8    |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[8]       LOC=T12   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[6]       LOC=M13   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;

NET ADC_Data[3]       LOC=R14   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[1]       LOC=T15   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_clk           LOC=P16   |IOSTANDARD = LVCMOS33 | SLEW=FAST | DRIVE=12;
NET amp_gain          LOC=L16   |IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=2;
NET ADC_Data[4]       LOC=K15   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[2]       LOC=P15   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET ADC_Data[0]       LOC=M16   |IOSTANDARD = LVCMOS33 | TNM_NET = ADCClock;
NET amp_hilo          LOC=K16   |IOSTANDARD = LVCMOS33;

NET GPIO_LED1         LOC=M6    |IOSTANDARD = LVCMOS33 | DRIVE=12;
NET GPIO_LED2         LOC=P4    |IOSTANDARD = LVCMOS33 | DRIVE=12;
NET GPIO_LED3         LOC=N6    |IOSTANDARD = LVCMOS33 | DRIVE=12;
NET GPIO_LED4         LOC=P6    |IOSTANDARD = LVCMOS33 | DRIVE=12;

